## Les fonctions on va apprendre:
- pandas.concat([s1,s2])
- df.sort_index()

#### Si je commence à partir du 1er janvier 2020, avec un capital initial de 100 000, que j'achète le plus possible de croix dorées et que je vends toutes les croix mortes, quel sera mon revenu de négociation d'actions jusqu'à aujourd'hui ?

In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pandas import Series, DataFrame
df = pd.read_csv("action600519.csv")
df.set_index('date',inplace = True)
df.drop(labels = 'Unnamed: 0', axis = 1,inplace = True)
df

                open     close      high       low   volume    code
date
2018-01-02   594.559   598.409   604.719   584.449  49612.0  600519
2018-01-03   596.059   610.419   615.959   594.299  52019.0  600519
2018-01-04   615.959   631.629   638.059   613.889  72205.0  600519
2018-01-05   635.559   632.919   640.589   622.779  39989.0  600519
2018-01-08   629.579   646.689   651.059   629.579  52204.0  600519
...              ...       ...       ...       ...      ...     ...
2023-06-21  1740.000  1735.830  1756.600  1735.000  17721.0  600519
2023-06-26  1720.110  1709.000  1730.000  1695.000  23993.0  600519
2023-06-27  1709.990  1711.050  1719.700  1700.090  15174.0  600519
2023-06-28  1713.180  1728.380  1734.000  1711.000  18574.0  600519
2023-06-29  1731.000  1713.710  1734.990  1713.010  14231.0  600519

[1332 rows x 6 columns]

In [7]:
ma5 = df['close'].rolling(5).mean()
ma30 = df['close'].rolling(30).mean()
ma5 = ma5[30:]
ma30 = ma30[30:]
s1 = ma30 > ma5 
s2 = ma30 < ma5 
df = df[30:]
_mort = s1 & s2.shift(1)
croix_mort = df.loc[_mort]
date_mort = croix_mort.index
date_mort

Index(['2018-03-27', '2018-06-28', '2018-07-23', '2018-07-31', '2018-10-15',
       '2018-12-25', '2019-05-10', '2019-07-22', '2019-11-28', '2020-01-03',
       '2020-02-28', '2020-03-18', '2020-08-10', '2020-09-21', '2020-10-27',
       '2021-03-01', '2021-04-15', '2021-05-06', '2021-06-22', '2021-11-04',
       '2022-01-06', '2022-05-13', '2022-07-21', '2022-10-10', '2023-02-08',
       '2023-02-23', '2023-04-12'],
      dtype='object', name='date')

In [8]:
_or = ~(s1|s2.shift(1))
croix_or = df.loc[_or]
date_or = croix_or.index
date_or

Index(['2018-03-16', '2018-05-09', '2018-07-18', '2018-07-25', '2018-09-20',
       '2018-12-04', '2019-01-03', '2019-06-14', '2019-08-13', '2020-01-02',
       '2020-02-19', '2020-03-03', '2020-04-02', '2020-08-19', '2020-10-14',
       '2020-11-05', '2021-04-02', '2021-04-16', '2021-05-20', '2021-09-16',
       '2021-11-23', '2022-04-07', '2022-06-02', '2022-09-29', '2022-11-18',
       '2023-02-14', '2023-03-31', '2023-06-15'],
      dtype='object', name='date')

#### Analysation
- Le prix unitaire d'achat et de vente d'actions utilise le cours d'ouverture
- Moment de l'achat et de la vente d'actions : acheter quand la croix d'or, vendre quand la croix de la mort
- En fin de compte, il restera des stocks entre les mains qui n'ont pas été vendus:
    Le prix unitaire des actions restantes est le cours de clôture du dernier jour

In [10]:
s1 = Series(data = 1,index = date_or) # 1 symbole de la croix d'or
s1

date
2018-03-16    1
2018-05-09    1
2018-07-18    1
2018-07-25    1
2018-09-20    1
2018-12-04    1
2019-01-03    1
2019-06-14    1
2019-08-13    1
2020-01-02    1
2020-02-19    1
2020-03-03    1
2020-04-02    1
2020-08-19    1
2020-10-14    1
2020-11-05    1
2021-04-02    1
2021-04-16    1
2021-05-20    1
2021-09-16    1
2021-11-23    1
2022-04-07    1
2022-06-02    1
2022-09-29    1
2022-11-18    1
2023-02-14    1
2023-03-31    1
2023-06-15    1
dtype: int64

In [12]:
s2 = Series(data = 0, index = date_mort) # 0 symbole de la croix de la mort
s2

date
2018-03-27    0
2018-06-28    0
2018-07-23    0
2018-07-31    0
2018-10-15    0
2018-12-25    0
2019-05-10    0
2019-07-22    0
2019-11-28    0
2020-01-03    0
2020-02-28    0
2020-03-18    0
2020-08-10    0
2020-09-21    0
2020-10-27    0
2021-03-01    0
2021-04-15    0
2021-05-06    0
2021-06-22    0
2021-11-04    0
2022-01-06    0
2022-05-13    0
2022-07-21    0
2022-10-10    0
2023-02-08    0
2023-02-23    0
2023-04-12    0
dtype: int64

In [22]:
s = pd.concat([s1,s2])
s = s.sort_index()
s

date
2018-03-16    1
2018-03-27    0
2018-05-09    1
2018-06-28    0
2018-07-18    1
2018-07-23    0
2018-07-25    1
2018-07-31    0
2018-09-20    1
2018-10-15    0
2018-12-04    1
2018-12-25    0
2019-01-03    1
2019-05-10    0
2019-06-14    1
2019-07-22    0
2019-08-13    1
2019-11-28    0
2020-01-02    1
2020-01-03    0
2020-02-19    1
2020-02-28    0
2020-03-03    1
2020-03-18    0
2020-04-02    1
2020-08-10    0
2020-08-19    1
2020-09-21    0
2020-10-14    1
2020-10-27    0
2020-11-05    1
2021-03-01    0
2021-04-02    1
2021-04-15    0
2021-04-16    1
2021-05-06    0
2021-05-20    1
2021-06-22    0
2021-09-16    1
2021-11-04    0
2021-11-23    1
2022-01-06    0
2022-04-07    1
2022-05-13    0
2022-06-02    1
2022-07-21    0
2022-09-29    1
2022-10-10    0
2022-11-18    1
2023-02-08    0
2023-02-14    1
2023-02-23    0
2023-03-31    1
2023-04-12    0
2023-06-15    1
dtype: int64

In [48]:
first_money = 100000 # Constante
money = first_money # Variable
hold = 0 # Nombre d'actions détenues
df = df['2020-01':]
s = s['2020-01':]

for i in range(len(s)): # i -> index
    if s[i] == 1: # croix d'or --> acheter
        time = s.index[i]
        unité = df.loc[time]['open']
        hold = money // unité
        money -= hold * unité
    if s[i] == 0: # croix de la mort --> vendre
        time = s.index[i]
        unité = df.loc[time]['open']
        money += hold* unité
        hold = 0
        
money += df['close'][-1] * hold

In [49]:
reward = money - first_money
reward

142551.095