In [1]:
import pandas as pd
from pandas import DataFrame, Series
import numpy as np
df = pd.read_csv('./action600519.csv')
df.drop(labels = 'Unnamed: 0',axis = 1, inplace = True)
df.set_index('date',inplace = True)
df.head()

               open    close     high      low   volume    code
date
2018-01-02  594.559  598.409  604.719  584.449  49612.0  600519
2018-01-03  596.059  610.419  615.959  594.299  52019.0  600519
2018-01-04  615.959  631.629  638.059  613.889  72205.0  600519
2018-01-05  635.559  632.919  640.589  622.779  39989.0  600519
2018-01-08  629.579  646.689  651.059  629.579  52204.0  600519

#### Afficher toutes les dates où le cours d'ouverture de l'action a chuté de plus de 2 % par rapport au cours de clôture de la veille

pseudo-code : (open - hier.close)/hier.close < -0.02

In [2]:
df['close']

date
2018-01-02     598.409
2018-01-03     610.419
2018-01-04     631.629
2018-01-05     632.919
2018-01-08     646.689
                ...
2023-06-21    1735.830
2023-06-26    1709.000
2023-06-27    1711.050
2023-06-28    1728.380
2023-06-29    1713.710
Name: close, Length: 1332, dtype: float64

### .shift()

In [3]:
df['close'].shift(1)

date
2018-01-02         NaN
2018-01-03     598.409
2018-01-04     610.419
2018-01-05     631.629
2018-01-08     632.919
                ...
2023-06-21    1743.460
2023-06-26    1735.830
2023-06-27    1709.000
2023-06-28    1711.050
2023-06-29    1728.380
Name: close, Length: 1332, dtype: float64

In [4]:
df.loc[(df['open'] - df['close'].shift(1))/df['close'].shift(1) < -0.02].index

Index(['2018-02-05', '2018-02-06', '2018-02-09', '2018-03-23', '2018-03-28',
       '2018-07-11', '2018-10-08', '2018-10-11', '2018-10-24', '2018-10-25',
       '2018-10-29', '2018-10-30', '2018-12-10', '2019-05-06', '2019-05-08',
       '2019-07-15', '2019-10-16', '2020-01-02', '2020-02-03', '2020-03-13',
       '2020-03-23', '2020-10-26', '2021-02-26', '2021-03-04', '2021-04-28',
       '2021-08-20', '2021-11-01', '2022-03-14', '2022-03-15', '2022-03-28',
       '2022-10-13', '2022-10-24', '2022-11-28', '2023-02-06'],
      dtype='object', name='date')