#### Exigences : Permettez-moi d'acheter 100 actions le premier jour de bourse de chaque mois à compter du 1er janvier 2020 et de vendre toutes les actions le dernier jour de bourse de chaque année.

- Nœud temporel : 2020 ~ 2023 <br>
chaque année: acheter 1200 actions <br>
chaque année: vendre 1200 actions

In [3]:
import pandas as pd
from pandas import DataFrame, Series
import numpy as np
df = pd.read_csv('./action600519.csv')
df.drop(labels = 'Unnamed: 0',axis = 1, inplace = True)
df.set_index('date',inplace = True)
df.head()

               open    close     high      low   volume    code
date
2018-01-02  594.559  598.409  604.719  584.449  49612.0  600519
2018-01-03  596.059  610.419  615.959  594.299  52019.0  600519
2018-01-04  615.959  631.629  638.059  613.889  72205.0  600519
2018-01-05  635.559  632.919  640.589  622.779  39989.0  600519
2018-01-08  629.579  646.689  651.059  629.579  52204.0  600519

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1332 entries, 2018-01-02 to 2023-06-29
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   open    1332 non-null   float64
 1   close   1332 non-null   float64
 2   high    1332 non-null   float64
 3   low     1332 non-null   float64
 4   volume  1332 non-null   float64
 5   code    1332 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 72.8+ KB

In [5]:
df.index.dtype

dtype('O')

In [9]:
df.index = pd.to_datetime(df.index)

In [10]:
df.index.dtype

dtype('<M8[ns]')

In [11]:
df.tail()

               open    close     high      low   volume    code
date
2023-06-21  1740.00  1735.83  1756.60  1735.00  17721.0  600519
2023-06-26  1720.11  1709.00  1730.00  1695.00  23993.0  600519
2023-06-27  1709.99  1711.05  1719.70  1700.09  15174.0  600519
2023-06-28  1713.18  1728.38  1734.00  1711.00  18574.0  600519
2023-06-29  1731.00  1713.71  1734.99  1713.01  14231.0  600519

In [12]:
new_df = df['2020-01':'2023-06']

In [13]:
new_df

                open     close      high       low    volume    code
date
2020-01-02  1048.097  1050.097  1065.157  1036.097  148099.0  600519
2020-01-03  1037.097   998.657  1037.097   996.997  130318.0  600519
2020-01-06   990.957   998.087  1012.997   987.397   63414.0  600519
2020-01-07   997.597  1014.627  1019.097   996.497   47853.0  600519
2020-01-08  1005.147  1008.237  1015.597  1002.677   25008.0  600519
...              ...       ...       ...       ...       ...     ...
2023-06-21  1740.000  1735.830  1756.600  1735.000   17721.0  600519
2023-06-26  1720.110  1709.000  1730.000  1695.000   23993.0  600519
2023-06-27  1709.990  1711.050  1719.700  1700.090   15174.0  600519
2023-06-28  1713.180  1728.380  1734.000  1711.000   18574.0  600519
2023-06-29  1731.000  1713.710  1734.990  1713.010   14231.0  600519

[845 rows x 6 columns]

In [19]:
# Acheter les actions
# Trouver le premier jour de bourse de chaque mois
df_monthly = new_df.resample('M').first() #Rééchantillonnage des données

In [24]:
cost_Total = df_monthly['open'].sum() * 100

In [25]:
cost_Total

7094819.6

In [31]:
# Vendre les actions
# Trouver le dernier jour de bourse de chaque année
df_yearly = new_df.resample('A').last()
df_yearly

                open     close      high       low   volume    code
date
2020-12-31  1878.122  1935.122  1936.102  1876.122  38860.0  600519
2021-12-31  2026.415  2006.415  2029.395  1984.415  29665.0  600519
2022-12-31  1736.000  1727.000  1752.990  1727.000  25333.0  600519
2023-12-31  1731.000  1713.710  1734.990  1713.010  14231.0  600519

In [35]:
#Découpez la dernière ligne de 2023
# l'autre solution:
# df_yearly.drop(labels='2023-12-31',axis = 0, inplace = True)
df_yearly = new_df.resample('A').last()[:-1]

In [36]:
df_yearly

                open     close      high       low   volume    code
date
2020-12-31  1878.122  1935.122  1936.102  1876.122  38860.0  600519
2021-12-31  2026.415  2006.415  2029.395  1984.415  29665.0  600519
2022-12-31  1736.000  1727.000  1752.990  1727.000  25333.0  600519

In [38]:
reward_Total = df_yearly['open'].sum()*1200
reward_Total

6768644.4

- Les actions restantes dans la main finale doivent être évaluées et calculées dans le rendement total

In [46]:
# Utilisez le cours de clôture d'hier comme prix unitaire de l'action
new_df['close'][-1]

1713.71

In [47]:
reste = 600 * new_df['close'][-1]
reste

1028226.0

In [48]:
resv = reward_Total - cost_Total + reste

In [49]:
resv

702050.8000000007