#### DataFrame索引操作：
- 对行进行索引
- 对列进行索引
- 对元素进行索引

In [3]:
import numpy as np
from pandas import DataFrame
df = DataFrame(data=np.random.randint(60,100,size=(8,4)),columns=['a','b','c','d'])
df

    a   b   c   d
0  80  70  84  84
1  66  81  75  80
2  74  93  75  93
3  64  68  64  95
4  69  63  68  60
5  74  76  92  69
6  95  91  88  75
7  81  74  87  81

In [10]:
df['a'] # Prendre la colone
#Seuls les index explicites peuvent être utilisés lors de la récupération de lignes ou de colonnes via le mécanisme d'index

0    80
1    66
2    74
3    64
4    69
5    74
6    95
7    81
Name: a, dtype: int64

In [12]:
df[['a','c']]

    a   c
0  80  84
1  66  75
2  74  75
3  64  64
4  69  68
5  74  92
6  95  88
7  81  87

In [9]:
df.iloc[0] # Prendre l'index de ligne implicite

a    80
b    70
c    84
d    84
Name: 0, dtype: int64

In [22]:
df.loc[0,'c'] # Récupérer l'index de ligne explicite

84

Opération de découpage de DataFrame :
- Trancher la ligne
- Trancher la colonne

In [25]:
#Trancher la ligne
df[0:2]

    a   b   c   d
0  80  70  84  84
1  66  81  75  80

In [28]:
#Trancher la colonee
df.iloc[:,0:2]

    a   b
0  80  70
1  66  81
2  74  93
3  64  68
4  69  63
5  74  76
6  95  91
7  81  74

In [30]:
df.loc[:,'a':'b']

    a   b
0  80  70
1  66  81
2  74  93
3  64  68
4  69  63
5  74  76
6  95  91
7  81  74

### Résumé:
#### index : 
- df[col] : récupérer la colonne
- df.loc[index] : obtenir la ligne
- df.iloc[index, col] : prendre des éléments
#### tranche:
- df[index1:index3] : coupe les lignes
- df.iloc[:,col1:col3] : coupe les colonnes

#### Opérations DataFrame :
- Identique à la série

### Exercice
- En supposant que ddd est la note de l'examen de mi-session et que ddd2 est la note de l'examen final, veuillez créer ddd2 librement et l'ajouter à ddd pour trouver la moyenne à la fin de la mi-session.