### capturer_la_date_à_laquelle_l'action_a_augmenté

- Sortie de toutes les dates auxquelles l'action a clôturé plus de 3 % de plus que l'ouverture

In [1]:
import tushare as ts
import pandas as pd
from pandas import DataFrame, Series
import numpy as np

In [15]:
df = pd.read_csv('./action600519.csv')
df.drop(labels = 'Unnamed: 0',axis = 1, inplace = True)
df.set_index('date',inplace = True)
df.head()

               open    close     high      low   volume    code
date
2023-01-03  1731.20  1730.01  1738.43  1706.01  26034.0  600519
2023-01-04  1730.00  1725.01  1738.70  1716.00  20416.0  600519
2023-01-05  1737.00  1801.00  1801.00  1733.00  47943.0  600519
2023-01-06  1806.12  1803.77  1811.90  1787.00  24904.0  600519
2023-01-09  1835.00  1841.20  1849.98  1807.82  30977.0  600519

 -->  (close - open)/open > 0.03

In [16]:
(df['close'] -df['open'])/df['open'] > 0.03

date
2023-01-03    False
2023-01-04    False
2023-01-05     True
2023-01-06    False
2023-01-09    False
              ...
2023-06-20    False
2023-06-21    False
2023-06-26    False
2023-06-27    False
2023-06-28    False
Length: 116, dtype: bool

Dans le processus d'analyse, si une valeur bool est générée, l'étape suivante utilisera immédiatement bool comme index de ligne des données d'origine

In [17]:
df.loc[(df['close'] -df['open']/df['open'] > 0.03)]

               open    close     high      low   volume    code
date
2023-01-03  1731.20  1730.01  1738.43  1706.01  26034.0  600519
2023-01-04  1730.00  1725.01  1738.70  1716.00  20416.0  600519
2023-01-05  1737.00  1801.00  1801.00  1733.00  47943.0  600519
2023-01-06  1806.12  1803.77  1811.90  1787.00  24904.0  600519
2023-01-09  1835.00  1841.20  1849.98  1807.82  30977.0  600519
...             ...      ...      ...      ...      ...     ...
2023-06-20  1740.00  1743.46  1765.00  1735.00  20947.0  600519
2023-06-21  1740.00  1735.83  1756.60  1735.00  17721.0  600519
2023-06-26  1720.11  1709.00  1730.00  1695.00  23993.0  600519
2023-06-27  1709.99  1711.05  1719.70  1700.09  15174.0  600519
2023-06-28  1713.18  1728.38  1734.00  1711.00  18574.0  600519

[116 rows x 6 columns]

Si la valeur booléenne est utilisée comme index de ligne de df, les données de ligne correspondant à true peuvent être extraites

In [18]:
df.loc[(df['close'] -df['open']/df['open'] > 0.03)].index

Index(['2023-01-03', '2023-01-04', '2023-01-05', '2023-01-06', '2023-01-09',
       '2023-01-10', '2023-01-11', '2023-01-12', '2023-01-13', '2023-01-16',
       ...
       '2023-06-13', '2023-06-14', '2023-06-15', '2023-06-16', '2023-06-19',
       '2023-06-20', '2023-06-21', '2023-06-26', '2023-06-27', '2023-06-28'],
      dtype='object', name='date', length=116)